@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --success: 142 71% 45%;
    --success-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 4% 9%;
    --foreground: 0 0% 100%;
    --card: 220, 5%, 12%;
    --card-foreground: 0 0% 100%;
    --popover: 220, 5%, 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 19 84% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 5% 24%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220, 5%, 12%;
    --muted-foreground: 0 0% 64%;
    --accent: 220 4% 14%;
    --accent-foreground: 0 0% 100%;
    --subtle: 240 1% 13%;
    --subtle-foreground: 0 0% 100%;
    --success: 142 71% 45%;
    --success-foreground: 60 9.1% 97.8%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 4% 16%;
    --input: 220 4% 16%;
    --ring: 0 0% 48%;
  }
  .lancie {
    --background: #2b2b2b;
    --foreground: #ffffff;

    --card: #2b2b2b;
    --card-foreground: #ffffff;

    --popover: #2b2b2b;
    --popover-foreground: #ffffff;

    --primary: #ff8500;
    --primary-foreground: #ffffff;

    --secondary: #3a3d41;
    --secondary-foreground: #ffffff;

    --muted: #1f2021;
    --muted-foreground: #afb0b0;

    --accent: #222325;
    --accent-foreground: #ffffff;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --success: 142 71% 45%;
    --success-foreground: 60 9.1% 97.8%;

    --border: #333436;
    --input: #333436;
    --ring: #b1b1b1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
