.lb-root {
  --lb-accent: purple;
  --lb-spacing: 1em;
  --lb-radius: 0;
  --lb-background: theme(colors.muted.DEFAULT);
  --lb-foreground: theme(colors.foreground);
  --lb-elevation-background: theme(colors.muted.DEFAULT);
  --lb-elevation-foreground: theme(colors.foreground);
  --lb-accent: theme(colors.accent.DEFAULT);
  --lb-accent-foreground: theme(colors.accent.foreground);

  --lb-foreground-subtle: theme(colors.border);
  --lb-foreground-tertiary: theme(colors.muted.foreground);
  --lb-accent-secondary: theme(colors.muted.foreground);
  --lb-foreground-moderate: theme(colors.muted.foreground);
  --lb-accent: theme(colors.muted.foreground);
  --lb-accent-moderate: theme(colors.border);
  @apply border rounded-md
    overflow-hidden;
}

.lb-composer-mention,
.lb-comment-mention {
  @apply text-blue-500 bg-blue-500/20 rounded-sm;
}

.lb-comment-link,
.lb-composer-link {
  @apply hover:text-blue-500 hover:underline hover:decoration-blue-500;
}

.lb-comment {
  @apply p-4;
}

.lb-comment-actions {
  @apply bg-accent/50 rounded-md absolute -top-2 -right-2 border;
}

.lb-avatar {
  @apply text-foreground;
}

.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  font-style: normal;
  font-weight: 500;
  left: -1px;
  line-height: normal;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  top: -1.4em;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  padding: 2px 6px;
  pointer-events: none;
}
